/*
    Created by Zerzolar
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    line-height: 1;
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
    text-decoration: none;
}

.non-select {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

/* Header */

header {
    width: 100%;
    background-color: black;
    padding: 0 20%;
    height: auto;
    float: left;
    border-bottom: rgba(216, 216, 216, 0.8) 0.2vw solid;
}

.logo-link {
    float: left;
    padding-left: 1%;
    width: 18%;
}

.logo-link img{
    margin-top: 2%;
    height: 2.6vw;
}

nav {
    width: 30%;
    float: left;
}

.nav-btn{
    float: left;
    padding: 3.3% 2%;
    cursor: pointer;
    font-size: 1.2vw;
}

.nav-btn:hover {
    color: red;
}

.toolbox {
    position: relative;
    padding-left: 3%;
    width: 7%;
    float: left;
}

.tool-btn{
    float: left;
    margin: 0 5%;
    cursor: pointer;
}

.tool-btn:hover {
    color : red;
}

.toolbox-icon {
    margin: 30% 25% 0 25%;
}

.profile-pic-menu {
    height: 2vw;
    border-radius: 60%;
    margin-top: 23%;
}


#profile-dropdown {
    display: none;
    position: absolute;
    background-color: black;
    top: 125%;
    left: -10%;
    width: 120%;
    font-size: 0.8vw;
    padding: 3% 0;
    border-radius: 2%;
}

.info-links {
    display: block;
    padding: 3% 0 2% 15%;
    cursor: pointer;
    border-radius: 2%;
}

.info-links:hover {
    background-color: rgba(216, 216, 216, 0.8);
    color: #000000;
}

.separator {
    width: 85%;
    margin: 3% auto;
    border-bottom: rgba(216, 216, 216, 0.8) 0.1vw solid;
}

.curr-selected {
    height: 0.8vw;
    position: absolute;
    top: -9%;
    left: 67%;
}


/* section */

section {
    background-color: #5d5d5d;
    width: 100%;
    border-top: black solid 1px;
}

#wrapper {
    background-color: #444444;
    margin: 0 auto 0 auto;
    width: 60%;
    height: 30vw;                 /* ------------remove -------------*/
    border-left: black solid 1px;
    border-right: black solid 1px;
}


/* FORMS */

#darker-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.8);
    z-index: 1000;
    display: none;
}

form {
    position: absolute;
    border-radius: 0.25em;
    text-align: center;
    left: 35%;
    width:30%;
    background-color: rgba(46, 46, 46, 1);
    z-index: 2000;
    overflow: hidden;
    padding-bottom: 2%;
}

.form-links {
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3vw;
    width: 50%;
    padding: 3% 0;
    margin-bottom: 8%;
    cursor: pointer;
}

.not-current-form {
    background-color: rgb(39, 39, 39);
}

.not-current-form:hover {
    background-color: rgb(43, 43, 43);
}

.container {
    width: 58%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.input {
    position: relative;
    display: block;
    margin: 4% auto;
    width: 97%;
    font-size: 1vw;
    float: left;
    -webkit-user-select: auto; /* Chrome/Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: all; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: auto;
    user-select: all;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(46, 46, 46, 1);
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
    border-bottom: black solid 1px;
    padding-left: 2%;
    font-size: 1vw;
}

.submit {
    width: 100%;
    background-color: rgb(39, 39, 39);
    padding: 1% 0;
    border: none;
    border-radius: 0.25em;
    margin-bottom: 3%;
    float: left;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(43, 43, 43);
}

.form-comments {
    font-size: 0.6vw;
    color: rgba(181, 181, 181, 0.7);
    cursor: default;
    float: left;
    margin-bottom: 3%;
}


/* login form */

#login-form {
    top: 20%;
    display: none;
}

#forgotten-password {
    text-decoration: underline;
    cursor: pointer;
    width: 50%;
    margin: 0 25%;
    text-align: center;
}

/*sign in form */

#sign-in-form {
    top: 20%;
    display: none;
}

.terms-and-policies-link {
    text-decoration: underline;
    color: rgba(234, 234, 234, 0.7);
    cursor: pointer;
}

.validation_check{
    position: absolute;
    top: 20%;
    right: -2%;
    background-color: rgba(46, 46, 46, 1);
}

.validation_icon {
    position: absolute;
    top: -0.5vw;
    right: 0;
    width: 1.5vw;
}

.validation_msg {
    color: red;
    font-size: 0.8vw;
}

.form-select-container {
    width: 100%;
    margin: 3% 0 4% 0;
    float: left;
}

#sign-in-form select {
    /*background: url("../Pictures/drop-down-arrow.jpg") no-repeat right  rgba(46, 46, 46, 1);*/
    background-color: rgba(46, 46, 46, 1);
    border-radius: 0.25em;
    font-size: 0.8vw;
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
    border: black solid 1px;
}

#gender {
    width: 25%;
}

#date_day {
    width: 20%;
}

#date_month {
    width: 26%;
}

#date_year {
    width: 22%;
}

.sign-in-form-error {
    font-size: 0.8vw;
    color: red;
}
