/*
    Created by Zerzolar
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
}

html, body {
    height:100%;
    display:flex;
    flex-direction:column;
}

body > * {
    flex-shrink: 0;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    line-height: 1;
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
    text-decoration: none;
}

.non-select {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.wrapper {
    width: 60%;
    margin: auto 20%;
}


/* Header */

header {
    width: 100%;
    background-color: black;
    height: auto;
    float: left;
    border-bottom: rgba(216, 216, 216, 0.8) 0.2vw solid;
}

.logo-link {
    float: left;
    width: 30%;
}

.logo-link img{
    margin-top: 2%;
    height: 2.6vw;
}

nav {
    width: 50%;
    float: left;
}

.nav-btn{
    float: left;
    padding: 3.3% 5% 0 5%;
    cursor: pointer;
    font-size: 1.2vw;
    color: rgba(216, 216, 216, 0.7);
}

.nav-btn:hover {
    color: red;
}

.toolbox {
    position: relative;
    width: 20%;
    float: left;
}

.tool-btn{
    float: right;
    margin: 0 4%;
    cursor: pointer;
    font-size: 1.55vw;
    color: rgba(216, 216, 216, 0.7);
}

.toolbox-icon {
    margin: 0.81vw 0.8vw 0.6vw;
}

.toolbox-icon:hover {
    color : red;
}

.profile-pic-menu {
    height: 2vw;
    width: 2.1vw;
    border-radius: 60%;
    margin: 0.6vw 0.5vw 0;
}


#profile-dropdown {
    display: none;
    position: absolute;
    background-color: black;
    top: 127%;
    left: -20%;
    width: 120%;
    font-size: 0.8vw;
    padding: 3% 0;
    border-radius: 2%;
    color: rgba(216, 216, 216, 0.7);
}

.user-message {
    display: none;
    position: absolute;
    background-color: black;
    top: 127%;
    right: 2%;
    font-size: 0.8vw;
    padding: 5%;
    border-radius: 3%;
    line-height: 1vw;
}

.info-links {
    display: block;
    padding: 3% 0 2% 15%;
    cursor: pointer;
    border-radius: 2%;
}

.info-links:hover {
    background-color: rgba(216, 216, 216, 0.8);
    color: #000000;
}

.separator {
    width: 85%;
    margin: 3% auto;
    border-bottom: rgba(216, 216, 216, 0.8) 0.1vw solid;
}

.curr-selected {
    height: 0.8vw;
    position: absolute;
    top: -0.5vw;
    right: 6%;
}





/* section */

section {
    background-color: #5d5d5d;
    width: 100%;
    float: left;
    flex-grow: 1;
}

#wrapper {
    background-color: #444444;
    margin: 0 auto 0 auto;
    width: 60%;
    height: 30vw;                 /* ------------remove -------------*/
    border-left: black solid 1px;
    border-right: black solid 1px;
}



/* profile */

.profile {
    background-color: #5d5d5d;
    width: 100%;
    float: left;
    flex-grow: 1;
}

.profile-wrapper {
    padding: 5vw 10% 10vw;
    width: 80%;
    float: left;
}

    /* profile pic styles */

.profile-pic-col {
    width: 30%;
    text-align: center;
    float: left;
}

.profile-profilePic-img {
    margin: 0 5%;
    width: 90%;
    height: 15vw;
    border-radius: 7%;
    border: solid 0.2vw #404040;
    overflow: hidden;
    position: relative;
}

.profile-profilePic-img img {
    width: 100%;
    height: 100%;
}

    /* profile info column styles */

.profile-info-col {
    width: 60%;
    float: left;
    padding-left: 2vw;
}

.profile-info-wrapper {
    margin-bottom: 1.5vw;
}

.profile-info-row {
    width: 100%;
    margin-top: 1.1vw;
    font-size: 1vw;
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
}

.profile-username {
    font-size: 4vw;
    margin-top: 0.5vw;
}

.profile-info-join-date {
    width: 100%;
    margin-top: 0.5vw;
    font-size: 0.6vw;
    color: rgba(0, 0, 0, 1);
}

        /* Edit buttons */

.profile-black-btn {
    display: inline-block;
    line-height: 1.5vw;
    text-align: center;
    width: 5vw;
    cursor: pointer;
    background-color: black;
    border-radius: 0.3vw;
    color: rgba(216, 216, 216, 0.7);
    font-size: 0.9vw;
}

.profile-black-btn:hover {
    background-color: #444444;
}

.profile-pic-edit-btn {
    position: absolute;
    right: 5%;
    bottom: 5%;
    padding: 0.3vw 0.4vw;
    background-color: rgba(121, 121, 121, 0.55);
    color: rgba(216, 216, 216, 0.7);
    cursor: pointer;
    text-align: center;
    border-radius: 0.2vw;
    font-size: 1vw;
}

.profile-pic-edit-btn:hover {
    background-color: rgba(77, 77, 77, 0.74);
}

.profile-stop-editing-btn, .profile-save-editing-btn {
    color: rgba(216, 216, 216, 0.7);
    padding-left: 2vw;
    padding-top: 1vw;
    font-size: 0.7vw;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    margin-left: 0.5vw;
}

.profile-stop-editing-btn:hover ,.profile-save-editing-btn:hover {
    text-decoration: none;
}

.profile-edit-save-pic {
    width: 6vw;
    position: relative;
}

.profile-info-pic-err {
    position: absolute;
    left: 110%;
    top: 0;
    color: darkred;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}



 /*file uploading form*/

.profile-edit-form-container {
    margin-top: 2vw;
    width: 100%;
    float: left;

}

.profile-edit-upload-form{

}

.black-separator {
    width: 95%;
    margin: 0.5vw auto;
    border-bottom: rgba(0, 0, 0, 0.8) 0.15vw solid;
}

.profile-form-section {
    overflow: hidden;
}

.profile-form-user-container {
    width: 40%;
    padding-left: 10%;
    float:left;
}

.profile-form-section-desc {
    font-size: 1vw;
    width: 90%;
    margin-top: 0.7vw;
    margin-left: 5%;
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
}

.profile-form-input-container {
    display: block ;
    width: 90%;
    padding-left: 10%;
    position: relative;
}

.profile-input-err-msg {
    position: absolute;
    left: 67%;
    font-size: 0.8vw;
    color: darkred;
    top: 0;
}

.profile-form-input-validation_msg {
    position: absolute;
    top: 0.5vw;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

.profile-form-input-validation_icon{
    position: absolute;
    top: -0.1vw;
    width:1.8vw;
}
.profile-form-input {
    display: block;
    width: 15vw;
    margin: 1vw 0;
    background-color: rgba(151, 151, 151, 0.75);
    border: black solid 0.1vw;
    border-radius: 0.3vw;
    font-size: 0.9vw;
    line-height: 1.5vw;
    padding: 0 1vw 0.1vw;
}

.profile-form-controls-container {
    float: left;
    display: block;
    width:40%;
    margin-left: 5%;
    padding: 2vw 1vw ;
    text-align: center;
}

.profile-save-btn {
    display: inline-block;
    font-size: 0.9vw;
    line-height: 1.5vw;
    padding: 0 1vw;
    color: rgba(216, 216, 216, 0.7);
    background-color: #363738;
    border-radius: 0.2vw;
    margin: 0 1vw;
    cursor: not-allowed;
}

.profile-form-section-note {
    font-size: 0.5vw;
    color: rgba(216, 216, 216, 0.7);
    width: 18vw;
    margin: 0 0 0.1vw 10%;
}

#profile-form-upload-pic, #profile-form-submit {
    width: 0;
    height: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
}




/* FORMS */

#darker-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.8);
    z-index: 1000;
    display: none;
}

.sign-in-login-form {
    position: absolute;
    border-radius: 0.25em;
    text-align: center;
    left: 35%;
    width:30%;
    background-color: rgba(46, 46, 46, 1);
    z-index: 2000;
    overflow: hidden;
    padding-bottom: 2%;
}

.form-links {
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3vw;
    width: 50%;
    padding: 3% 0;
    margin-bottom: 8%;
    cursor: pointer;
}

.not-current-form {
    background-color: rgb(39, 39, 39);
}

.not-current-form:hover {
    background-color: rgb(43, 43, 43);
}

.container {
    width: 58%;
    margin: 0 auto;
    text-align: center;
}

.input {
    position: relative;
    display: block;
    margin: 4% auto;                                                    /*Fix zooming*/
    width: 97%;
    font-size: 1vw;
    float: left;
    -webkit-user-select: auto; /* Chrome/Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: all; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: auto;
    user-select: all;
}

.sign-in-login-input {
    width: 100%;
    border: none;
    background-color: rgba(46, 46, 46, 1);
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
    border-bottom: black solid 0.1vw;
    padding-left: 2%;
    font-size: 1vw;
}

.submit {
    width: 100%;
    background-color: rgb(39, 39, 39);
    padding: 1% 0;                                                     /*Fix zooming*/
    border: none;
    border-radius: 0.25em;
    margin-bottom: 3%;
    float: left;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(43, 43, 43);
}

.form-comments {
    font-size: 0.6vw;
    color: rgba(181, 181, 181, 0.7);
    cursor: default;
    float: left;
    margin-bottom: 3%;                                                      /*Fix zooming*/
}


/* login form */

#login-form {
    top: 20%;
    display: none;
}

#forgotten-password {
    text-decoration: underline;
    cursor: pointer;
    width: 50%;
    margin: 0 25%;
    text-align: center;
}

/*sign in form */

#sign-in-form {
    top: 20%;
    display: none;
}

.terms-and-policies-link {
    text-decoration: underline;
    color: rgba(234, 234, 234, 0.7);
    cursor: pointer;
}

.validation_check{
    position: absolute;
    top: 20%;
    right: -2%;
    background-color: rgba(46, 46, 46, 1);
}

.validation_icon {
    position: absolute;
    top: -0.5vw;
    right: 0;
    width: 1.5vw;
}

.validation_msg {
    color: red;
    font-size: 0.8vw;
}

.form-select-container {
    width: 100%;
    margin: 3% 0 4% 0;                                                     /*Fix zooming*/
    float: left;
}

#sign-in-form select {
    /*background: url("../Pictures/drop-down-arrow.jpg") no-repeat right  rgba(46, 46, 46, 1);*/
    background-color: rgba(46, 46, 46, 1);
    border-radius: 0.25em;
    font-size: 0.8vw;
    color: rgba(216, 216, 216, 0.7);
    font-family: sans-serif;
    border: black solid 0.1vw;;
}

#gender {
    width: 25%;
}

#date_day {
    width: 20%;
}

#date_month {
    width: 25%;
}

#date_year {
    width: 22%;
}

.sign-in-form-error {
    font-size: 0.8vw;
    color: red;
}







